{% extends "object_detection/base.html" %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

{% block content %}

<h2>Панель управления</h2>

<a href="{% url 'object_detection:add_image_feed' %}" class="btn btn-primary mb-3">Добавить изображение</a>

{% for feed in image_feeds %}

<div class="card mb-3 content-block">
    <div class="card-mb-3">
        <a href="{% url 'object_detection:process_feed' feed.id %}" class="btn btn-secondary">Изображение процесса</a>
    </div>
    <div class="card-body">
        <a href="{{ feed.image.url }}" target="_blank">
            <img src="{{ feed.image.url }}" alt="Original Image" style="width: 50px; height: 50px;">
        </a>
        {% if feed.processed_image %}
        <a href="{{ feed.processed_image.url }}" target="_blank">
            <img src="{{ feed.processed_image.url }}" alt="Processed Image" style="width: 50px; height: 50px;">
        </a>
        <ul>
            {% for obj in feed.detected_objects.all %}
            <li>{{ obj.object_type }} - {{ obj.confidence|floatformat:2 }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <form action="{% url 'object_detection:delete_image' feed.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
</div>
{% endfor %}

<form action="{% url 'object_detection:video' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="run_script" class="btn btn-primary mb-3">Распознавание лица</button>
    <p>Для отключения распознавания лиц нажмите "q" (не забудьте переключиться на английский язык)</p>
</form>

{% endblock %}
